# Default values for tube-archivist.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
replicaCount: 1

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: bbilly1/tubearchivist
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "v0.5.9"

# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}

#podSecurityContext:
#   fsGroup: 1000 # careful, this would cause django errors https://github.com/tubearchivist/tubearchivist/issues/421


#securityContext:
#   capabilities:
#     drop:
#     - ALL
#   readOnlyRootFilesystem: true
#   runAsNonRoot: true
#   runAsUser: 1000


potProvider:
  image:
    repository: brainicism/bgutil-ytdlp-pot-provider
    # This sets the pull policy for images.
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: "latest"
  service:
    type: ClusterIP
    port: 4416
  livenessProbe:
    httpGet:
      path: /ping
      port: 4416
      periodSeconds: 20
      failureThreshold: 3
  readinessProbe:
    httpGet:
      path: /ping
      port: 4416
      periodSeconds: 20
      failureThreshold: 3
  startupProbe:
    httpGet:
      path: /ping
      port: 4416
    initialDelaySeconds: 30
    failureThreshold: 15
    periodSeconds: 10


# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: ClusterIP
  # This sets the ports more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#field-spec-ports
  port: 8000

# This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart.local.com
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

env:
  - name: "TA_HOST"
    value: "chart.local.com" # make sure to include protocl here, otherwise you'll get 403 and a redirect to login page when trying to add something to download
  - name: "TA_PASSWORD"
    value: "changeme"
  - name: "TA_USERNAME"
    value: "admin"
  - name: "ELASTIC_USER"
    value: "elastic"
  - name: "ES_URL"
    value: "http://elastic-eck-elasticsearch-es-http:9200"
  - name: "REDIS_CON"
    value: "redis://redis-master:6379"
  - name: "ELASTIC_PASSWORD"
    value: "changeme"

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/

livenessProbe:
  httpGet:
    path: /
    port: 8000
    periodSeconds: 20
    failureThreshold: 3
readinessProbe:
  httpGet:
    path: /
    port: 8000
    periodSeconds: 20
    failureThreshold: 3
startupProbe:
  httpGet:
    path: /
    port: 8000
  initialDelaySeconds: 30
  failureThreshold: 15
  periodSeconds: 10


persistence:
  cache:
    size: 5Gi
    storageClass: ""
    annotations:
  youtube: 
    size: 20Gi
    storageClass: ""
    annotations:


# Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}

redis:
  image:
    repository: "redis/redis-stack-server" 
    tag: "6.2.6-v3"
  auth:
    enabled: false
  commonConfiguration: |-
    # Enable AOF https://redis.io/topics/persistence#append-only-file
    appendonly yes
    # Disable RDB persistence, AOF persistence already enabled.
    save ""
    # Enable Redis Json module
    loadmodule /opt/redis-stack/lib/rejson.so
  master:
    persistence:
      storageClass: ""
      size: 1Gi
  replica:
    replicaCount: 0